@use 'base/variables' as v;
@use 'base/mixins' as m;

.search-title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    width: 50%;
    white-space: nowrap;
  }

  .search-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    position: relative;

    input{
      border: .2rem solid v.$gray;
      border-radius: 2rem;
      padding: 1rem;
      width: 100%;
      outline: none;
      transition: border .3s ease;

      &:focus{
        border: .2rem solid v.$principalColor;

        & + .search-icon{
          color: v.$principalColor;
        }
      }
    }

    .search-icon{
      position: absolute;
      top: 0.5;
      right: 1rem;
      font-size: 2.5rem;
      border-radius: 50%;
      color: v.$gray;
      transition: color .3s ease;

      &:hover{
        cursor: pointer;
      }
    }
  }

  @include m.tablet{
    flex-direction: column;
    gap: 2rem;

    h2{
      text-align: center;
    }
  }
}

.card-jobs{
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 2rem;

  @include m.tablet{
    grid-template-columns: 100%;
  }
}

.card{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: v.$white;
  padding: 2rem;
  border-radius: 1rem;
  
  .card-header{
    .title{
      h3{
        text-align: start;
        font-size: 3rem;
        font-weight: 900;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .name-business{
      font-size: 1.5rem;
      color: v.$gray;
    }
  }

  .card-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;

    .salary{
      flex: 1;
      font-size: 1.8rem;

      .salary-number{
        font-size: 2rem;
        font-weight: 400;
        color: v.$white;
        background-color: v.$principalColor;
        padding: .5rem;
        border-radius: 1rem;
      }
    }
    
    .description{
      flex: 3;
      font-size: 1.5rem;
      color: v.$darkGray;
       display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* Número de renglones a mostrar */
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .required-skills{
      flex: 1;

      .required-skills-title{
        font-size: 1.5rem;
        font-weight: bold;
      }

    }
  }
  
  .card-footer{
    .date{
      font-size: 1.5rem;
      color: v.$gray;
    }
  }
}